@import "../variables";


.main {

}

.categories {
  margin-bottom: 30px;

  @media (max-width: 600px) {
    margin-bottom: 15px;
  }
}

.categories__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);

  @media (max-width: 960px) {
    box-shadow: none;
  }
}

.categories__item {
  margin: 25px 0;

  @media (max-width: 968px) {
    margin: 0;
  }

  @media (max-width: 600px) {
    padding: 0;
    width: 50px !important;
    height: 95px;
  }

  @media (max-width: 460px) {
    margin: 0 5px;
    width: 50px !important;
  }
}

.categories__item__link {
  position: relative;
  padding-left: 33px;
  font-size: 16px;
  @media (max-width: 960px) {
    text-align: center;
    padding-left: 0;
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
  }

  @media (max-width: 520px) {
    font-size: 11px;
  }

  @media (max-width: 320px) {
    font-size: 9px;
  }
}

.categories__inner .categories__item:last-child .categories__item__link{
  padding-left: 5px;
  span{
    display: none;

    @media (max-width: 960px) {
      display: inline-flex;

      svg path{
        fill: transparent;
      }
    }
  }
}


.categories__item__link:hover span svg path, .categories__item__link:hover {
  fill: #888888;
  color: #888888;
  stroke: transparent;

  @media (max-width: 460px) {
    fill: #000000;
    color: #000000;
  }
}

.red:hover svg path{
  @media (max-width: 460px) {
    stroke: #000000 !important;
    fill: transparent !important;

  }
}


.categories__inner .categories__item:hover:last-child a span svg path, .categories__item__link:hover:last-child {
  fill: #FFDBD7;
  color: #b0b0b0;
  stroke: #FD5E49;

  @media (max-width: 460px) {
    stroke: transparent;
    fill: transparent;
  }

}

.categories__item__link span {
  position: absolute;
  left: 0;
  top: -2px;

  @media (max-width: 960px) {
    position: static;
    width: 50px;
    height: 50px;
    display: inline-flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
}

.categories__item__link span svg {
  width: 22px;
  height: 22px;
  fill: transparent;


}

.categories__inner .categories__item:last-child a span svg {
  width: 22px;
  height: 22px;
  fill: transparent;
}

.categories__item__link.dark_mode span svg path {
  fill: $white;
}



.categories__item__link.dark_mode:hover.dark_mode span svg path,
.categories__item__link:hover.dark_mode {
  fill: #b0b0b0;
  color: #b0b0b0;
  stroke: transparent;
}

/*.categories__inner .categories__item:last-child a.dark_mode:hover.dark_mode span svg path,
.categories__inner .categories__item:last-child a.dark_mode {
  fill: #FFDBD7;
  color: $white;
}*/

.categories__inner .categories__item:hover:last-child a.dark_mode span svg path, .categories__item__link:hover:last-child {
  fill: transparent;
  color: #b0b0b0;
  stroke: #FD5E49;

  @media (max-width: 460px) {
    fill: chocolate;
    color: #000000;
    stroke: chocolate;
  }
}

.categories__item__link.dark_mode {
  color: $white;
}

.main__slider {
  position: relative;
  img {
    width: 100%;
  }
}


.main__slider__arrow {
  padding: 11px 13px;
  position: absolute;
  background-color: #9d9d9d;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}

.main__slider__arrow_next {
  left: 25px;

}

.main__slider__arrow_prev {
  right: 25px;

  svg {
    transform: rotate(180deg);
  }
}

.main__top_sales {
  margin-bottom: 10px;
  margin-top: 30px;
}

.main__top_sales__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 1140px) {
    justify-content: space-around;
  }
}

/*
.main__top_sales__card + .main__top_sales__card{
  margin-left: 30px;
}
*/

.main__top_sales__title {
  font-size: 24px;
  margin-bottom: 35px;
}


.main__top_sales__card {
  min-height: 325px;
  width: 263px;
  background-color: #ffffff;
  position: relative;
  padding: 74px 20px 20px 20px;
  text-align: center;
  border: 1px solid rgba(239, 239, 239, 1);
  border-radius: 10px;
  margin: 0 5px 30px;

  @media (max-width: 1140px) {
    width: 290px;

  }

  @media (max-width: 960px) {
    width: 230px;
  }

  @media (max-width: 768px) {
    width: 263px;
  }

  @media (max-width: 600px) {
    width: 230px;
  }

  @media (max-width: 540px) {
    min-width: 263px;
  }
}

.main__top_sales__card.dark_mode {
  background-color: $text-color;
}

.main__top_sales__card:hover {
  /*box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.11);*/
  transform: scale(1.03);
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow: -1px 4px 30px rgba(0, 0, 0, 0.16);
}

/*:hover {


  @media (max-width: 820px) {
    transform: scale(1);
  }
}*/

.main__top_sales__card:hover.dark_mode {
  box-shadow: 0 1px 9px 0 rgba(255, 255, 255, 0.11);
  transform: scale(1.03);
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}


.main__card__favorite {
  position: absolute;
  top: 21px;
  right: 17px;
  cursor: pointer;
}

.main__card__favorite:hover path {
  stroke: #359740;
}

.main__card__favorite:hover.dark_mode path {
  stroke: #359740;
  fill: #359740;
}

.main__card__sales {
  position: absolute;
  left: 17px;
  display: flex;
  align-items: center;
  top: 21px;
}

.main__card__sales span {
  margin-left: 7px;
  font-size: 12px;
  color: $black;
}

.main__card__img {
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
}

.main__card__color {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}

.main__card__color__name {
  text-align: left;
  margin-bottom: 10px;

  &.dark_mode {
    color: $white;
  }
}


.main__card__info {
  text-align: left;

}

.main__card__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.main__card__title.dark_mode,
.main__card__price_new.dark_mode,
.main__top_sales__title.dark_mode,
.main__card__sales.dark_mode span {
  color: #ffffff;
}

.main__card__favorite.dark_mode path {
  stroke: $white;

}

.main__card__subtitle {
  font-size: 11px;
  margin-bottom: 9px;
}

.main__card__subtitle.dark_mode {
  color: $white;
}

.main__card__price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.main__card__price_new {
  font-size: 16px;
}

.main__card__price_old {
  font-size: 12px;
  color: #cccccc;
  text-decoration: line-through;
  margin-left: 7px;
}

.main__card__add_btn {
  padding: 13px 20px;
  background-color: $btn;
  color: $white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  position: relative;
  height: 42px;

  &.added {
    background-color: $white;
    color: $btn;
    border: 1px solid $btn;

    &:hover{
      background-color: $white;
      color: #27682C;
      border: 1px solid #27682C;
    }
  }


  &:hover {
    background-color: $btn-hover;
  }
}


.main__card__empty{
  margin-top: 30px;

  &.dark_mode{
    color: $white;
  }
}


@media (max-width: 960px) {
  .categories__inner{

  }
}
