@import "../variables";

.header__top{
  height: 38px;
  background-color: $header-top;
  color: $white;
  margin-bottom: 20px;
}



.city {
  margin-left: 8px;
  margin-right: 30px;
  text-decoration: underline;
  cursor: pointer;
  height: 17px;
  color: $white;


  svg{
    height: 12px;
    width: 12px;
    margin-right: 8px;
    margin-top: 2px;

  }

  &:hover &__text {
    fill: #FFC540;
    color: #FFC540;
    transition: color .2s ease-in-out;
  }

  &:hover &__span > svg {
    fill: #FFC540;
    transition: fill .2s ease-in-out;
  }



  @media (max-width: 768px) {
    margin-left: 0;

   svg path {
      fill: #000000;
    }

    &:hover &__text {
      color: $text-color;
    }

    &:hover &__span > svg {
      fill: $white;
    }

    &.dark_mode{
      svg path {
        fill: $white;
      }

      &:hover &__span > svg {
        fill: $white;
      }

      &:hover &__text {
        color: $white;
      }
    }

  }



}

.city__span {
  padding-top: 4px;
  margin-right: 9px;

  & svg {
    fill: #FAFBFC;
    width: 11px;
    height: 11px;
    transition: fill .2s ease-in-out;
  }

  &.dark_mode svg {
    fill: #f2f2f2;
  }
}

.city__text {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.002em;
  text-decoration-line: underline;
  color: #FAFBFC;
  transition: color .2s ease-in-out;


  @media (max-width: 768px) {
    font-size: 14px;
    color: $text-color;

    &.dark_mode{
      color: $white !important;


      &:hover {
        color: $white;
      }
    }
  }
}

.logo{
  position: relative;
  grid-column: 1/1;
  margin-top: 5px;

  @media (max-width: 768px) {
    grid-column: 2/2;
    margin-right: 20px;
  }

  @media (max-width: 420px) {
    margin-right: 15px;
  }
}

.logo.dark_mode path{
  fill: $white;
}

.header__top__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
}

.menu__list{
  display: flex;
}

.menu__item:first-child{
  margin-right: 50px;
}

.menu__item:nth-child(2){
  margin-right: 50px;
}

.menu__item:last-child{
  margin-left: 50px;
}


.header__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 14/14;
}

.header__box button{
  cursor: pointer;
}

.header__bottom__inner{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  align-items: center;
 /* display: flex;
  justify-content: space-between;
  align-items: center;*/

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.header__bottom{
  margin-bottom: 20px;
  height: 50px;

  @media (max-width: 600px) {
    height: auto;
  }
}

.user__list{
  display: flex;
  align-items: center;
}

.user__list__item{
  margin-left:  25px;

  @media (max-width: 420px) {
    margin-left:  15px;
  }
}

.user__list__item + .user__list__item{
  margin-left: 30px;
}

.user__list__item.dark_mode path{
  stroke: $white;
}

.basket{
  position: relative;
  display: flex;
  align-items: center;
}

.basket__num{
  position: absolute;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d74444;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  top: -4px;
  right: -10px;
}

.search{
  grid-column: 2/14;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 95% 1%;
  position: relative;
 /* position: relative;*/

  @media (max-width: 768px) {
    grid-column: 3/13;

  }

  @media (max-width: 600px) {
    grid-template-columns: 100%;
    padding-left: 0;
    grid-template-rows: 100%;
    margin-top: 20px;

  }
}

.searchSvg.dark_mode path{
  stroke: #ffffff;
}

.searchSvg{
  width: 36px;
  height: 36px;
  position: absolute;
  top: 2px;
  left: 25px;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: 600px) {
    left: 5px;
  }
}

.searchSvg:hover {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(60,64,67,.08);
  text-align: center;
}

.burger_menu {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 12;

  @media (max-width: 950px) {


    &.open {
      left: 0;
      transition: left .3s ease-in-out;
    }

    &.dark_mode {
      background-color: #2d2d2d;
    }
  }


  @media (max-width: 768px) {
    position: relative;
    grid-column: 1/1;
    margin-right: 30px;
  }

  @media (max-width: 420px) {
    position: relative;
    grid-column: 1/1;
    margin-right: 15px;
  }
}

.burger_menu span {
  background-color: $black;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.burger_menu span:nth-child(1) {
  top: 0;
  left: 0;
}

.burger_menu span:nth-child(2) {
  top: 9px;
  left: 0;
  opacity: 1;
}

.burger_menu span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.burger_menu.open span {
  background-color: #4e4e4e;
}

.burger_menu.dark_mode span {
  background-color: #f2f2f2;
}

.burger_menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.burger_menu.open span:nth-child(2) {
  opacity: 0;
}

.burger_menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.menu__mobile{
  width: 227px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  padding: 20px 15px 40px 25px;
  position: absolute;
  left: -5px;
  top: 0;
  z-index: 15;
  background-color: #F9F9F9;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.5s;

  &.dark_mode{
    background-color: #222222;
  }
}

.menu__mobile__active{
  transform: translateX(0);
}

.menu__mobile__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  svg{
    cursor: pointer;
  }
}

.menu__mobile__list{
  margin-top: 30px;
}

.menu__mobile__list .menu__mobile__item:last-child {
  margin-bottom: 20px;
}

.menu__mobile__title{
  font-size: 13px;
  font-weight: 500;

  &.dark_mode{
    color: $white;
  }
}

.menu__mobile__item{
  position: relative;
  left: -20px;
  cursor: pointer;
  width: 222px;
  &:hover{
    background: linear-gradient(90deg, #F1F1F1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0.00) 107.25%);

    @media (max-width: 768px) {
      background: transparent;
    }
  }
}

.menu__mobile__link{
  padding: 16px  0 16px 35px;
  margin-left: 20px;
  svg{
    position: absolute;
    left: 20px;
  }

  &.dark_mode{
    svg path{
      stroke: $white;
      fill: transparent;
    }
    p{
      color: $white;
    }
  }
}

.menu__mobile__catalog__link{
  padding: 16px  0 16px 35px;
  margin-left: 20px;
  svg{
    position: absolute;
    left: 20px;
  }

  &.dark_mode{
    svg path{
      stroke: transparent;
      fill: $white;
    }
    p{
      color: $white;
    }
  }
}

.menu__mobile__list .menu__mobile__item:last-child .menu__mobile__catalog__link {
  &.dark_mode{
    svg path{
      stroke: $white;
      fill: transparent;
    }
  }
}

