@import "../variables";

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0  20px 20px 20px;
}

.cart__title{
  font-size: 36px;
  font-weight: 400;
  color: #414141;

  &.dark_mode{
    color: #F9F9F9;
  }
}

.cart__subtitle{
  font-size: 24px;
  font-weight: 600;
  color: #414141;

  &.dark_mode{
    color: #F9F9F9;
  }
}


.cart__header{
  border-radius: 5px;
  background: #F3F3F3;
  margin-bottom: 30px;

}

.cart__header__inner{
  padding: 11px 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.cart__header__item{
  display: flex;
  align-items: center;

}


.cart__header__item li:nth-child(2){
  margin: 0 60px;
}

.cart__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart__item{
  display: flex;
  justify-content: space-around;
  /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);*/
  padding: 25px 10px;
  max-height: 130px;
  margin-right: 20px;
  border-radius: 16px;
  border: 1px solid #EFEFEF;
  max-width: 100%;
  position: relative;
  /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);*/
}

.cart__item + .cart__item{
  margin-top: 20px;
}

.cart__item__inner{
  display: flex;
  align-items: center;

  img{
    margin-right: 20px;
    width: 100px;
    height: 75px;
  }

}

.cart__item__name{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;

  &.dark_mode{
    color: #F9F9F9;
  }
}

.cart__item__text{

  &.dark_mode{
    color: #F9F9F9;
  }
}

.cart__item__color{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;

  &.dark_mode span{
    color: #A5ACBA;
  }

  span{
    color: #5F6D7E;
    margin-left: 5px;
  }
}

.span__color{
  width: 14px;
  height: 14px;
  background-color: #353E4D;
  display: inline-block;
  text-align: center;

}

.cart__item__size{
  font-size: 12px;

  span{
    margin-left: 5px;
  }
}

.cart__item__order_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.vvv{
  margin-right: 10px;
  width: 270px;
}

.cart__item__price{
  margin-right: 15px;
  display: grid;

  &.dark_mode{
    color: #F9F9F9;
  }

  span{
    text-decoration-line: line-through;
    font-size: 12px;
    text-align: right;
    color: #cccccc;
  }
}



.cart__item__totalPrice{
  color: #1F2533;
  font-weight: 500;
  font-size: 14px;
  width: 80px;


  &.dark_mode{
    color: #F9F9F9;
  }


}

.cart__item__count{
  margin-right: 15px;
  padding: 6px 14px;
  /*border: 1px solid #EFEFEF;
  border-radius: 11px;*/


  span{
    margin: 0 6px;
    font-size: 16px;
    font-weight: 500;
    color: #1F2533;
    background-color:  #EFEFEF;
    border-radius: 6px;
    /*padding: 2px 9px;*/
    min-width: 30px;
    display: inline-block;
    text-align: center;
    height: 19px;
  }

  button{
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }
}

.count__empty{
  font-size: 12px;
  padding: 2px 3px;

  &.dark_mode{
    color: $white;
  }
}

.btn__delete{
  margin-left: 15px;
  cursor: pointer;
  width: 30px;
  position: relative;

  &.dark_mode svg{
    path {
      stroke: #F9F9F9;
    }
  }

  &.spinner{
    cursor: default;
  }
}

.cart__count__minus{
  width: 20px;
  height: 20px;
  background-color: #359740;
  border-radius: 4px;

  &.dark_mode{
    &.countDisabled{
    background-color: rgba(#DAE0E6,1);
    }
  }

  svg{
    path {
      stroke: #ffffff;
    }
  }

  &.countDisabled{
    cursor: default;
    background-color: rgba(#DAE0E6,1);

    &:hover{
      background-color: rgba(#DAE0E6,1);
    }
  }

  &:hover{
    background-color: #2BB159;
  }

  &.dark_mode svg{
    path {
      stroke: #ffffff;
    }
  }

  &.countDisabled svg{
    path {
      stroke: #49556D;
    }
  }
}

.cart__count__plus{
  width: 20px;
  height: 20px;
  background-color: #359740;
  border-radius: 4px;

  &.dark_mode{
    &.countDisabled{
      background-color: rgba(#DAE0E6,1);
    }
  }

  svg{
    path {
      stroke: #ffffff;
    }
  }

  &.dark_mode svg{
    path {
      stroke: #ffffff;
    }
  }

  &.countDisabled{
    cursor: default;
    background-color: rgba(#DAE0E6,1);

    &:hover{
      background-color: rgba(#DAE0E6,1);
    }
  }

  &.countDisabled svg{

    path {
      stroke:#49556D;
    }
  }

}

.cart__details{
  padding: 24px 32px ;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);*/
  border: 1px solid #EFEFEF;
  border-radius: 16px;
  width: 350px;
  height: 280px;
  position: sticky;
  top: 15px;

  &.dark_mode{
    color: #F9F9F9;
  }

  &.dark_mode h5{
    color: #F9F9F9;
  }
}

.cart__details__title{
  font-size: 20px;
  margin-bottom: 20px;
  color: $text-color;
  font-weight: 500;
}

.cart__details__count{
  display: flex;
  align-items: baseline;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  p{
    flex: none;
  }

  div{
    border-bottom: 1px dashed #dfdee2 ;
    margin: 0 8px;
    width: 100%;
  }
}


.cart__details__order{
  background-color: #359740;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: $white;
  margin-top: 30px;

}

.v{

}


.emptyCart{
  text-align: center;

  svg{
    margin-top: 100px;
    margin-bottom: 20px;
  }

  &.dark_mode svg{
    path {
      stroke: $white;
    }
  }
}

.emptyCart__title{
  font-size: 23px;
  font-weight: 800;
  width: 550px;
  margin: 0 auto 15px;
  text-transform: uppercase;
  line-height: 36px;

  &.dark_mode{
    color: $white;
  }
}

.emptyCart__text{
  font-size: 16px;
  width: 640px;
  margin: 0 auto 20px;
  color: #7C8B9D;
  &.dark_mode{
    color: $white;
  }
}

.return__btn{

  padding: 23px 27px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 20px;
  border-radius: 5px;
  background: #49D0FF;
  cursor: pointer;
  margin-bottom: 200px;
  color: #ffffff;
}


.overlay{
  background-color: rgba(77, 77, 77, .4);
  z-index: 20 ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  height: 127px;
  margin-right: 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/*
position: absolute;
inset: 32px;
background: rgba(255,255,255,.7);
display: flex;
align-items: center;
justify-content: center;*/
