@import "../variables";

.footer{
  background-color: $header-top;
  color: #b5b5b9;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 50px;

  @media (max-width: 480px) {
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

.footer__left{
  width: 50%;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.footer__top__title{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
}





.footer__left__list{
  flex-wrap: wrap;
}

.footer__left__item{

}

.footer__left__item a{
  color: #b5b5b9;
}


.footer__left__item a:hover{
  color: #ffffff;
}

.footer__left__item + .footer__left__item{
  margin-top: 7px;
}

.footer__top__inner{
  margin-top: 20px;
}

.footer__top__contacts{

  @media (max-width: 480px) {
    font-size: 10px;
  }
}

.footer__top__contacts__item{

}

.footer__top__contacts__link{
  position: relative;
}

.footer__top__contacts__link span{
  display: block;
  line-height: 20px;
}

.footer__top__contacts__item:hover{
  color: #ffffff;
}

.footer__top__contacts__link span:nth-child(3){
  padding-left: 25px;
}


.footer__top__contacts__link span:nth-child(2){
  position: absolute;
  top: 20px;
  stroke:  #b5b5b9;
}

.footer__top__contacts__item:hover span svg{
  stroke: #ffffff;
  color: #ffffff;
}



.footer__top__contacts li:nth-child(3)  span:nth-child(2){
  top: 23px;
}

.footer__top__contacts__item + .footer__top__contacts__item{
  margin-top: 10px;
}

.footer__bottom__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(205, 203, 203, .2);
  padding: 25px 0;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

  @media (max-width: 480px) {
    padding: 10px 0;
  }
}

.footer__bottom__left {
  display: flex;
  align-items: center;
  margin-right: 20px;

  @media (max-width: 968px) {
    flex-wrap: wrap;
  }

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.footer__bottom__title{
  font-size: 16px;
  margin-right: 50px;
  @media (max-width: 1140px) {
    margin-right: 20px;
  }

  @media (max-width: 968px) {
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    margin-bottom: 10px;
  }

}

.footer__bottom__pay{
  display: flex;
  align-items: center;



}

.footer__bottom__pay__item + .footer__bottom__pay__item{
  margin-left: 20px;

  @media (max-width: 1140px) {
    margin-left: 10px;
  }
}

.footer__bottom__pay__item{
  cursor: pointer;

  @media (max-width: 600px) {
    width: 50px;
  }
}

.footer__bottom__pay__item img{
  cursor: pointer;

  @media (max-width: 600px) {
    width: 50px;
  }
}

.footer__bottom__right{
  display: flex;
  align-items: center;

  @media (max-width: 968px) {
    flex-wrap: wrap;
  }
}


.footer__bottom__social{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.footer__bottom__social__item + .footer__bottom__social__item{
  margin-left: 20px;

  @media (max-width: 1140px) {
    margin-left: 10px;
  }
}

.footer__bottom__social__item a{
  @media (max-width: 1140px) {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}

.footer__bottom__vk,
.footer__bottom__fb,
.footer__bottom__inst,
.footer__bottom__ytb{
  width: 48px;
  height: 48px;
}

.footer__bottom__vk {
  background-image: url("../../public/img/vk.svg");
}

.footer__bottom__fb{
  background-image: url("../../public/img/fb.svg");
}

.footer__bottom__inst{
  background-image: url("../../public/img/inst.svg");
}

.footer__bottom__ytb{
  background-image: url("../../public/img/ytb.svg");
}
/*
.footer__right{
  flex-wrap: wrap;
  width: 250px;
}*/


.footer__bottom__block__copyright{
  @media (max-width: 480px) {
    font-size: 12px;
  }
}
