@import "../variables";

.item__page {
 /* display: flex;
  justify-content: space-between;
  margin-top: 40px;*/

  display: grid;
  grid-template-columns: 48% 1fr;
  grid-column-gap: 48px;
}

.item__img {
  width: 600px;
  height: 250px;
  margin-right: 30px;
}


.item__info {
  text-align: left;

}

.item__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;

  &.dark_mode {
    color: $white;
  }
}

.item__subtitle {
  margin-bottom: 15px;
  color: #686868;

  &.dark_mode {
    color: $white;
  }
}

.item__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.item__price {
  font-size: 24px;
  font-weight: 500;
  margin-right: 20px;
  color: $text-color;
  max-width: 150px;

  &.dark_mode {
    color: $white;
  }
}

.item__btn {
  display: inline-block;
  padding: 12px 10px;
  background-color: $btn;
  color: $white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  margin-right: 20px;
  width: 150px;
  min-height: 42px;

  &.added {
    background-color: $white;
    color: $btn;
    border: 1px solid $btn;

    &:hover{
      background-color: $white;
      color: #27682C;
      border: 1px solid #27682C;
    }
  }


  &:hover {
    background-color: $btn-hover;
  }
}

.item__favorite {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.dark_mode span {
    color: $white;
  }

  &.dark_mode path {
    stroke: white;
    /* stroke: #F7CA4C;
     fill: #F7CA4C;*/
  }

  &.active path {
    stroke: #F7CA4C;
    fill: #F7CA4C;
  }

  span {
    font-size: 12px;
    color: $text-color;
    margin-left: 10px;
  }
}

.item__description__title {
  color: #414141;
  margin-bottom: 10px;

  &.dark_mode {
    color: $white;
  }
}

.item__description__text {
  color: #686868;
  margin-bottom: 20px;

  &.dark_mode {
    color: $white;
  }
}

.cart__details__count {
  display: flex;
  align-items: baseline;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 500px;

  &.dark_mode p {
    color: $white;
  }

  p {
    flex: none;
    color: #686868;
  }

  div {
    border-bottom: 1px dashed #686868;
    margin: 0 8px;
    width: 100%;
  }
}


.item__characteristics {

  &.dark_mode {
    color: $white;
  }
}

.item__characteristics__title {
  font-size: 16px;
  color: $text-color;
  margin-bottom: 30px;

  &.dark_mode {
    color: $white;
  }
}

.item__characteristics__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}


.checkbox__color {
  position: relative;
  display: inline-block;
  /*margin-right: 10px;
  margin-bottom: 10px;*/
  text-align: center;
  margin-bottom: 20px;
  width: 82px;
  height: 53px;
  cursor: pointer;
}


.filters__color__checkbox__span {
  position: absolute;
}

.color__name {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 20px;
  color: $text-color;

  &.active__color {
    font-weight: 700;
  }

  &.dark_mode {
    color: #f2f2f2;
  }
}

.item__color {
  margin-bottom: 20px;

  &.dark_mode p, span {
    color: $white;
  }

  &.dark_mode span {
    color: $white;
  }

  p {
    margin-bottom: 20px;
    font-size: 12px;
    color: $text-color;

    span {
      color: #686868;
      margin-left: 7px;
    }
  }
}


.filters__color__checkbox {
  width: 40px;
  height: 40px;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 2px transparent;
  margin-bottom: 6px;

  &.dark_mode {
    border: 3px solid #222222;
    box-shadow: 0 0 0 2px transparent;
  }

  &.active__color {
    width: 40px;
    height: 40px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 2px $btn;
  }
}

.filters__color__checkbox + .filters__color__checkbox {
  margin-left: 10px;
}


.item__size {
  font-size: 12px;
  color: $text-color;
  margin-bottom: 20px;

  span {
    font-size: 14px;
    margin-left: 5px;
  }

  &.dark_mode {
    color: $white;
  }
}

.item__slide {
  overflow: hidden;
  border-radius: 4px;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.item__images {
  overflow: hidden;
  margin-bottom: 40px;

  /* @media (max-width: 850px) {
     margin-bottom: 16px;
   }*/
}

.item__images__main {
  height: 455px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;

  /*@media (max-width: 1080px) {
    height: 380px;
  }*/

  img {
    width: 100%;
    height: 100%;
  }
}


.item__images__list {
  overflow-x: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #E1E1E1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    background: #9E9E9E;
    border-radius: 5px;
  }
}

.item__images__list__item {
  min-width: 166px;
  height: 149px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

 /* @media (max-width: 1080px) {
    min-width: 150px;
    height: 120px;
  }*/

  &:not(:last-child) {
    margin-right: 16px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.main__card__add_btn {
  padding: 13px 20px;
  background-color: $btn;
  color: $white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  position: relative;
  height: 42px;
}

.item__empty{
  line-height: 42px;

  &.dark_mode{
    color: $white;
  }
}



